{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Edit event'|trans }}</h1>

    {{ form_start(edit_form) }}

        <div class="row row-form">
            <div class="col-xs-12">
                {{ form_label(edit_form.kind) }}
                {{ form_errors(edit_form.kind) }}
                {{ form_widget(edit_form.kind) }}
            </div>
        </div>

        <div class="row row-form">
            <div class="col-xs-6 col-sm-4">
                {{ form_label(edit_form.event_date) }}
                {{ form_errors(edit_form.event_date) }}
                {{ form_widget(edit_form.event_date) }}
            </div>
            <div class="col-xs-3 col-sm-4">
                {{ form_label(edit_form.time_start) }}
                {{ form_errors(edit_form.time_start) }}
                {{ form_widget(edit_form.time_start) }}
            </div>
            <div class="col-xs-3 col-sm-4">
                {{ form_label(edit_form.time_end) }}
                {{ form_errors(edit_form.time_end) }}
                {{ form_widget(edit_form.time_end) }}
            </div>
        </div>

        <div class="row row-form">
            <div class="col-xs-12 col-sm-6">
                {{ form_label(edit_form.country) }}
                {{ form_errors(edit_form.country) }}
                {{ form_widget(edit_form.country) }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ form_label(edit_form.city) }}
                {{ form_errors(edit_form.city) }}
                {{ form_widget(edit_form.city) }}
            </div>
        </div>

        <div class="row row-form">
            <div class="col-xs-6 col-sm-4">
                {{ form_label(edit_form.quantity) }}
                {{ form_errors(edit_form.quantity) }}
                {{ form_widget(edit_form.quantity) }}
            </div>
            <div class="col-xs-3 col-sm-4">
                {{ form_label(edit_form.price) }}
                {{ form_errors(edit_form.price) }}
                {{ form_widget(edit_form.price) }}
            </div>
            <div class="col-xs-3 col-sm-4">
                {{ form_label(edit_form.level) }}
                {{ form_errors(edit_form.level) }}
                {{ form_widget(edit_form.level) }}
            </div>
        </div>

        <div class="row row-form">
            <div class="col-xs-12">
                {{ form_widget(edit_form) }}
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="_submit" name="_submit">
                {{ 'Edit'|trans }}
            </button>
        </div>

    {{ form_end(edit_form) }}

    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('game_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button class="btn btn-danger" type="submit" id="_submit" name="_submit">
                    {{ 'Delete'|trans }}
                </button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
