{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Find Event'|trans }}</h1>


    <ul>
        <li>
            <a href="{{ path('game_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
