{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
		<div class="col-xs-12">
			
			<h1>
				{{ 'Events list'|trans }}
				<span class="dropdown pull-right">
					<small>{{ 'Choose the country'|trans }}:</small>
					<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
					   role="button" aria-haspopup="true" aria-expanded="false">
						{% if country() %} {{ country() }} {% else %} {{ 'Region'|trans }} {% endif %}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-region">
						{% for country in countries() %}
							{% if country.code in countryCodes %}
								<li role="menuitem">
									<a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({ _country_code: country.code, _country_name: country.name })) }}">
										{{ country.name }}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</span>
			</h1>
			
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#id Kind Address, City </th>
							{#<th>Country</th>#}
							<th>Date</th>
							<th>Start - End</th>
							<th>Description</th>
							<th>{{ 'Quantity person'|trans }}</th>
							{#<th>Price</th>#}
							{#<th>Level</th>#}
							{#<th>Sex</th>#}
							{#<th>Contact</th>#}
							{# <th>Actions</th> #}
						</tr>
					</thead>
					<tbody>
					{% for game in games %}
						<tr>
							<td>
								<a href="{{ path('game_main', { 'id': game.id }) }}">
									#{{ game.id }} {{ game.kind.name|trans }} <br>
									{{ game.address }}, {{ game.city }}

								</a>
							</td>
							{#<td>{{ game.country }}</td>#}
							<td>
								{% if game.eventdate %}{{ game.eventdate|date('Y-m-d') }}{% endif %}</td>
							<td>
								{% if game.timestart %}{{ game.timestart|date('H:i') }}{% endif %} - 
								{% if game.timeend %}{{ game.timeend|date('H:i') }}{% endif %}
							</td>
							<td>{{ game.description }}</td>
							<td>{{ game.quantity }}</td>
							{#<td>{{ game.price }}</td>#}
							{#<td>{{ game.level }}</td>#}
							{#<td>{{ game.sex }}</td>#}
							{#<td>{{ game.contact }}</td>#}
							{# <td class="text-nowrap">
								<a class="btn btn-xs btn-default" href="{{ path('game_show', { 'id': game.id }) }}">
									<span class="glyphicon glyphicon-eye-open"></span>
								</a>
								{% if game.author == app.user %}
									<a class="btn btn-xs btn-default" href="{{ path('game_edit', { 'id': game.id }) }}">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
								{% endif %}
							</td> #}
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<hr>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<a class="btn btn-success" href="{{ path('game_new') }}">
					<span class="glyphicon glyphicon-plus"></span> {{ 'Create a new event'|trans }}
				</a>
			{% else %}	
				<h4>{{ 'To create the event you need to login'|trans }}</h4>
				<a class="btn btn-success"
				   href="{{ path('fos_user_registration_register') }}" role="button">{{ 'Sign up'|trans }}</a>
				<a class="btn btn-success"
				   href="{{ path('fos_user_security_login') }}">{{ 'Sign in'|trans }}</a>
			{% endif %}
		</div>
	</div>

{% endblock %}
