{% extends 'base.html.twig' %}

{% block body %}

    Creator: {{ event.author.username }}
    
    <hr>

    <ul class="list-inline">
        <li>
            <a  class="btn btn-default" href="{{ path('game_index') }}">Back to the list</a>
        </li>
        {% if event.author == app.user %}
            <li>
                <a class="btn btn-success" href="{{ path('game_edit', { 'id': event.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_game_form) }}
                    <input type="submit" class="btn btn-danger" value="Delete">
                {{ form_end(delete_game_form) }}
            </li>
        {% endif %}
    </ul>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ event.id }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ event.country|countryName }}, {{ event.city }}, {{ event.address }}</td>
        </tr>
        <tr>
            <th>{{ 'Event date'|trans }}</th>
            <td>
                {% if event.eventdate %}{{ event.eventdate|date('Y-m-d') }}{% endif %}
                {% if event.timestart and event.timeend %}
                    {{ event.timestart|date('H:i') }}-{{ event.timeend|date('H:i') }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <th>{{ 'Quantity'|trans }}</th>
            <td>{{ event.quantity }}</td>
        </tr>
        {% if event.price != 0 %}
        <tr>
            <th>{{ 'Price'|trans }}</th>
            <td>{{ event.price }}</td>
        </tr>
        {% endif %}
        {% if event.level != 0 %}
            <tr>
                <th>Level</th>
                <td>{{ event.level }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>{{ 'Sex'|trans }}</th>
            <td>{{ event.sex }}</td>
        </tr>
        <tr>
            <th>{{ 'Contact'|trans }}</th>
            <td>{{ event.contact }}</td>
        </tr>
        </tbody>
    </table>
    
    <div class="row">
        <div class="col-xs-12">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if not user_applied(app.user, event.applications) %}

                    {{ form_start(form) }}
                        <div class="hidden">
                            {{ form_label(form.user) }}
                            {{ form_errors(form.user) }}
                            {{ form_widget(form.user) }}

                            {{ form_label(form.game) }}
                            {{ form_errors(form.game) }}
                            {{ form_widget(form.game) }}

                            {{ form_label(form.confirmed) }}
                            {{ form_errors(form.confirmed) }}
                            {{ form_widget(form.confirmed) }}
                        </div>
                        {{ form_widget(form) }}
                        <input type="submit" class="btn btn-default" value="{{ 'Apply'|trans }}" />
                    {{ form_end(form) }}

                {% else %}
                    <p>you already applied</p>
                {% endif %}
            {% else %}
                <p>
                    For applying <a class="btn btn-default btn-xs" href="{{ path('fos_user_security_login') }}">{{ 'Sign in'|trans }}</a> or <a class="btn btn-default btn-xs" href="{{ path('fos_user_registration_register') }}">{{ 'Sign up'|trans }}</a>
                </p>
            {% endif %}
        </div>
    </div>




    <div class="row">
        <div class="col-xs-12">
            <h4>IS_AUTHENTICATED_FULLY</h4>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>is_granted - Username: {{ app.user.username }}</p>
            {% else %}
                <p>is not granted - Username: ??</p>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Applications</h3>
            <table class="table">
                {% for application in event.applications() %}
                    <tr>
                        <td>
                            {{ application.user.firstname }} {{ application.user.lastname }}
                            {% if application.user == app.user %}

                                {{ form_start(delete_app_form) }}
                                    <input type="submit" class="btn btn-xs btn-inline btn-danger" value="Decline">
                                {{ form_end(delete_app_form) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}