{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Event creation'|trans }}</h1>

    {{ form_start(form) }}

        <div class="row row-form">
            <div class="col-xs-12">
                {{ form_label(form.kind) }}
                {{ form_errors(form.kind) }}
                {{ form_widget(form.kind) }}
            </div>
        </div>

        <div class="row row-form">
            <div class="col-xs-6 col-sm-4">
                {{ form_label(form.event_date) }}
                {{ form_errors(form.event_date) }}
                {{ form_widget(form.event_date) }}
            </div>
            <div class="col-xs-3 col-sm-4">
                {{ form_label(form.time_start) }}
                {{ form_errors(form.time_start) }}
                {{ form_widget(form.time_start) }}
            </div>
            <div class="col-xs-3 col-sm-4">
                {{ form_label(form.time_end) }}
                {{ form_errors(form.time_end) }}
                {{ form_widget(form.time_end) }}
            </div>
        </div>

        <div class="row row-form">
            <div class="col-xs-12 col-sm-6">
                {{ form_label(form.country) }}
                {{ form_errors(form.country) }}
                {{ form_widget(form.country) }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ form_label(form.city) }}
                {{ form_errors(form.city) }}
                {{ form_widget(form.city) }}
            </div>
        </div>

        <div class="row row-form">
            <div class="col-xs-6 col-sm-4">
                {{ form_label(form.quantity) }}
                {{ form_errors(form.quantity) }}
                {{ form_widget(form.quantity) }}
            </div>
            <div class="col-xs-3 col-sm-4">
                {{ form_label(form.price) }}
                {{ form_errors(form.price) }}
                {{ form_widget(form.price) }}
            </div>
            <div class="col-xs-3 col-sm-4">
                {{ form_label(form.level) }}
                {{ form_errors(form.level) }}
                {{ form_widget(form.level) }}
            </div>
        </div>

        <div class="row row-form">
            <div class="col-xs-12">
                {{ form_widget(form) }}
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit" id="_submit" name="_submit">
                <span class="glyphicon glyphicon-plus"></span> {{ 'Create'|trans }}
            </button>
        </div>
    {{ form_end(form) }}

    <ul class="list-inline list-unstyled">
        <li>
            <a class="btn btn-default" href="{{ path('game_index') }}">{{ 'Back to the list'|trans }}</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            if ( $('.js-datepicker').length > 0 ){
                $('.js-datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    language: 'pl',
                });
            }
        });
    </script>
{% endblock %}
