<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" />
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/timepicker.css') }}" />
    </head>
    <body>
        <div class="container">

            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        {#<li role="presentation">
                            <a href="{{ path('application_index') }}">{{ 'Applications'|trans }}</a></li>#}
                        <li role="presentation">
                            <a href="{{ path('game_index') }}">{{ 'Events'|trans }}</a></li>
                        {#<li role="presentation">#}
                            {#<a href="{{ path('kind_index') }}">{{ 'Activities'|trans }}</a></li>#}
                        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a class="btn btn-link"
                                   href="{{ path('fos_user_registration_register') }}" role="button">{{ 'Sign up'|trans }}</a>
                                /
                                <a class="btn btn-link"
                                   href="{{ path('fos_user_security_login') }}">{{ 'Sign in'|trans }}</a>
                            </li>
                        {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user"></span>
                                    {{ app.user.firstname }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('application_user') }}">
                                            My applications
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">{{ 'Log out'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                {{ app.request.locale }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for locale in locales() %}
                                    <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"{%else%}aria-checked="false"{% endif %} role="menuitem">
                                        <a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({ _locale: locale.code })) }}">
                                            {{ locale.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">
                    <a href="{{ path('homepage') }}">FindTeam</a>
                </h3>
            </div>

            {% block jumbotron %}{% endblock %}

                <div class="row marketing">
                    {% block body %}{% endblock %}
                </div>

            <footer class="footer">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <p class="text-left">&copy; 2017 Manufactory</p>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <p class="text-right">
                            {{ 'Footer signatur'|trans }}
                        </p>
                    </div>
                </div>
            </footer>
        </div>

        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
