{% extends 'base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>{{ 'Heading'|trans }}</h1>
        <p class="lead">
            {{ 'slogan'|trans }}
        </p>
        <p>
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="btn btn-success"
               href="{{ path('fos_user_registration_register') }}" role="button">{{ 'Sign up'|trans }}</a>
            <a class="btn btn-success"
               href="{{ path('fos_user_security_login') }}">{{ 'Sign in'|trans }}</a>
        {% else %}
            <a class="btn btn-success"
               href="{{ path('game_new') }}">{{ 'Create Event'|trans }}</a>
            <a class="btn btn-success"
               href="{{ path('find_game') }}">{{ 'Find Event'|trans }}</a>
        {% endif %}
        </p>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        {% if events is defined %}
            <div class="col-xs-12">
                <h2 class="events-title">{{ 'Last events'|trans }}
                    <span class="dropdown pull-right">
                        <small>{{ 'Choose the country'|trans }}:</small>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            {% if country() %} {{ country() }} {% else %} {{ 'Region'|trans }} {% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-region">
                            {% for country in countries() %}
                                {% if country.code in countryCodes %}
                                    <li role="menuitem">
                                        <a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({ _country_code: country.code, _country_name: country.name })) }}">
                                            {{ country.name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </span>
                </h2>
            </div>
            {% for event in events %}
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="{{ path('game_main', {id: event.id}) }}">
                                    {{ event.kind.name|trans }} {{ event.eventdate|date("Y-m-d") }} {{ event.timestart|date("H:i") }}</h3>
                                </a>
                        </div>
                        <div class="panel-body">
                            <p>{{ event.city }}, {{ event.address }} </p>
                            <p>{{ event.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
