{% extends 'base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron">
        {% block body %}
            <p>{{ message }}</p>
        {% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
