{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kinds list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Icon</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kind in kinds %}
            <tr>
                <td><a href="{{ path('kind_show', { 'id': kind.id }) }}">{{ kind.id }}</a></td>
                <td>{{ kind.name }}</td>
                <td>{{ kind.description }}</td>
                <td>{{ kind.icon }}</td>
                <td>{% if kind.enabled %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('kind_show', { 'id': kind.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('kind_edit', { 'id': kind.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kind_new') }}">Create a new kind</a>
        </li>
    </ul>
{% endblock %}
