{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kind</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kind.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ kind.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ kind.description }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ kind.icon }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if kind.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kind_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('kind_edit', { 'id': kind.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
