
<h2>
    {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
    <a class="btn btn-default pull-right" href="{{ path('fos_user_security_login') }}">
        {{ 'layout.authorization'|trans({}, 'FOSUserBundle') }}
    </a>
</h2>

<hr>

<form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
