{% trans_default_domain 'FOSUserBundle' %}


<h2>
    {{ 'layout.authorization'|trans({}, 'FOSUserBundle') }}
    <a class="pull-right btn btn-default" href="{{ path('fos_user_registration_register') }}">
        {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
    </a>
</h2>

<hr>

{% if error %}
    <p class="bg-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </p>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>

    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" required="required" />
    </div>

    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me"> {{ 'security.login.remember_me'|trans }}</label>
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">
            {{ 'security.login.submit'|trans }}
        </button>
    </div>
</form>

{#<div id="fb-root"></div>#}
{#<div class="fb-login-button" data-max-rows="1" data-size="icon" data-show-faces="true" data-auto-logout-link="false"></div>#}

<script>
    /*
     (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId={{ fb_client_id }}";
     fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

     window.fbAsyncInit = function() {
     FB.init({
     appId      : '{{ fb_client_id }}',
     xfbml      : true,
     version    : 'v2.8'
     });
     FB.AppEvents.logPageView();
     };

     (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
     */
</script>