{% extends 'base.html.twig' %}

{% block body %}
    <h1>Applications list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Game</th>
                <th>Confirmed</th>
                <th>Registration Time</th>
                {# <th>Actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                {# <td><a href="{{ path('application_show', { 'id': application.id }) }}">{{ application.id }}</a></td> #}
                <td>
                    <a href="{{ path('game_main', {'id': application.game.id }) }}">
                        {{ application.game.city }}, 
                        {{ application.game.kind|trans }} {{ application.game.eventdate|date('Y-m-d') }} 
                        {{ application.game.timestart|date('H:i') }}-{{ application.game.timeend|date('H:i') }} 
                    </a>
                </td>
                <td>{% if application.confirmed %}Yes{% else %}No{% endif %}</td>
                <td>{% if application.registrationTime %}{{ application.registrationTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                {# <td>
                    <ul>
                        <li>
                            <a href="{{ path('application_show', { 'id': application.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('application_edit', { 'id': application.id }) }}">edit</a>
                        </li>
                    </ul>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
